.text-center{
    margin-top: 25px;
    font-size: 12px;
}
@media only screen and (min-width: 320px){
    .container{
        padding-right: 30px;

    }
}
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: linear-gradient(to bottom right, #f2f3f4, #74c69d);
    background-attachment: fixed;
}
.user_card {
    height: 400px;
    width: 420px;
    margin-top: auto;
    margin-bottom: auto;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.brand_logo_container {
    position: absolute;
    height: 150px;
    width: 160px;
    top: -75px;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #f2f3f4, #74c69d);
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 135px;
    width: 150px;
}
.login_btn {
    width: 90%;
    background: #73a16c !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #307d7e !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass {
    box-shadow: none !important;
    outline: 0px !important;
    border: 0.1em solid #3c565b; 
    border-radius: 0.3em;  
    outline: 0.5em;
}
.log{
    margin-top: 60px;
    margin-left: 75px;
}
.form{
    margin-top: 50px;
}